# Python
venv/
myenv38/
venv_mlops/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# DVC
*.dvc
.cache/

# Ignore MLflow artifacts
price_prediction/mlruns/
price_prediction/mlartifacts/